<template>
  <div class="position">
    <v-tabs color="blue" right>
      <v-tab>Turnos no asignados</v-tab>
      <v-tab>Turnos asignados</v-tab>
      <v-tab-item>
        <v-card>
          <v-card-text>
            <v-row class="mt-4">
              <v-simple-table class="position">
                <template v-slot:default>
                  <tr>
                    <td class="borderAll"></td>
                    <th
                      v-for="item in turnsNo"
                      :key="item[0]"
                      class="borderAll"
                    >
                      {{ item[0] }}
                    </th>
                  </tr>
                  <tbody class="borderAll">
                    <tr class="borderAll">
                      <td rowspan="3" class="borderAll">Turnos no asignados</td>
                      <td
                        v-for="item in turnsNo"
                        :key="item[0]"
                        class="borderAll pa-2"
                      >
                        <tr v-for="item2 in item[1]" :key="item2.id">
                          <div
                            v-if="item2.turnName"
                            class="borderItem text-center mb-4"
                          >
                            <v-row>
                              {{ item2.turnName }}
                            </v-row>
                            <v-row>
                              {{ `(${item2.schedule})` }}
                            </v-row>
                          </div>
                        </tr>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card>
          <v-card-text>
            <v-row class="mt-4">
              <v-simple-table class="positionFlex">
                <template v-slot:default>
                  <tr>
                    <th
                      v-for="item in headersYes"
                      :key="item.index"
                      class="borderAll h5"
                    >
                      {{ item.text }}
                    </th>
                  </tr>
                  <tbody class="borderAll">
                    <tr
                      v-for="item in turnsYes"
                      :key="item.index"
                      class="borderAll h5"
                    >
                      <td class="borderAll h5">
                        {{ item.user }}
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-19'] &&
                            item['2021-04-19'].turnName != '' &&
                            item['2021-04-19'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-19"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-19"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-20'] &&
                            item['2021-04-20'].turnName != '' &&
                            item['2021-04-20'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-20"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-20"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-21'] &&
                            item['2021-04-21'].turnName != '' &&
                            item['2021-04-21'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-21"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-21"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-22'] &&
                            item['2021-04-22'].turnName != '' &&
                            item['2021-04-22'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-22"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-22"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-23'] &&
                            item['2021-04-23'].turnName != '' &&
                            item['2021-04-23'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-23"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-23"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-24'] &&
                            item['2021-04-24'].turnName != '' &&
                            item['2021-04-24'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-24"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-24"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-25'] &&
                            item['2021-04-25'].turnName != '' &&
                            item['2021-04-25'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-25"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-25"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-26'] &&
                            item['2021-04-26'].turnName != '' &&
                            item['2021-04-26'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-26"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-26"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-27'] &&
                            item['2021-04-27'].turnName != '' &&
                            item['2021-04-27'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-27"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-27"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-28'] &&
                            item['2021-04-28'].turnName != '' &&
                            item['2021-04-28'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-28"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-28"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-29'] &&
                            item['2021-04-29'].turnName != '' &&
                            item['2021-04-29'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-29"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-29"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                      <td class="borderAll h5">
                        <div
                          class="borderItem text-center mb-4 mt-2"
                          v-if="
                            item['2021-04-30'] &&
                            item['2021-04-30'].turnName != '' &&
                            item['2021-04-30'].schedule != ''
                          "
                        >
                          <v-row>
                            {{ item["2021-04-30"].turnName }}
                          </v-row>
                          <v-row>
                            {{ `(${item["2021-04-30"].schedule})` }}
                          </v-row>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<style scoped>
.borderAll[data-v-1eedbe78] {
  border: 1px solid black !important;
  padding: 0;
  padding-right: 0rem;
  margin-right: 0rem;
}
.position {
  width: 100%;
  height: 100%;
}
.h5 {
  font-size: 12px;
}
.positionFlex {
  max-width: 100%;
  max-height: 100%;
}
.borderItem {
  border: 3px solid black !important;
  padding: 1rem;
}
.borderAll {
  border: 1px solid black !important;
  padding: 1rem;
  padding-right: 0rem;
  margin-right: 0rem;
}
.th3 {
  background: #063779;
  border: 1px solid white !important;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      title: "Vista de Usuarios",
      turnsNo: [],
      turnsYes: [],
      nameFilterValue: null,
      addresFilterValue: null,
      headersNo: [],
      headersYes: [
        {
          text: "Turnos asignados",
          value: "user",
          align: "center",
        },
        {
          text: "2021-04-19",
          value: "2021-04-19",
          align: "center",
        },
        {
          text: "2021-04-20",
          value: "2021-04-20",
          align: "center",
        },
        {
          text: "2021-04-21",
          value: "2021-04-21",
          align: "center",
        },
        {
          text: "2021-04-22",
          value: "2021-04-22",
          align: "center",
        },
        {
          text: "2021-04-23",
          value: "2021-04-23",
          align: "center",
        },
        {
          text: "2021-04-24",
          value: "2021-04-24",
          align: "center",
        },
        {
          text: "2021-04-25",
          value: "2021-04-25",
          align: "center",
        },
        {
          text: "2021-04-26",
          value: "2021-04-26",
          align: "center",
        },
        {
          text: "2021-04-27",
          value: "2021-04-27",
          align: "center",
        },
        {
          text: "2021-04-28",
          value: "2021-04-28",
          align: "center",
        },
        {
          text: "2021-04-29",
          value: "2021-04-29",
          align: "center",
        },
        {
          text: "2021-04-30",
          value: "2021-04-30",
          align: "center",
        },
      ],
    };
  },
  created() {
    this.loadData();
  },
  computed: {},
  methods: {
    async loadData() {
      this.loading = true;
      this.turnsNo = [];
      this.turnsYes = [];
      let turns = await (await axios.get("/turns")).data;
      let users = await (await axios.get("/users")).data;
      let turnTemplates = await (await axios.get("/turnTemplates")).data;
      /*preparamos el arreglo coj todos los join */
      turns = turns.map((turn) => {
        let usersName = [];
        turn.userId.forEach((userItem) => {
          let user = users.find((item) => item.id == userItem);
          if (user) {
            usersName.push(`${user.firstName} ${user.lastName}`);
          }
        });
        let template = turnTemplates.find(
          (item) => item.id == turn.turnTemplateId
        );
        return {
          ...turn,
          turnName: template ? template.name : "",
          schedule: template ? `${template.checkIn}-${template.checkOut}` : "",
          restType: template ? template.restType : "",
          userId: usersName,
        };
      });

      turns.forEach((det) => {
        if (det.userId.length == 0) {
          this.turnsNo.push(det);
        } else {
          det.userId.forEach((user) => {
            let index2 = null;
            let resFind = this.turnsYes.find((item, index) => {
              if (item.user == user) {
                index2 = index;
                return item;
              }
            });
            if (resFind) {
              switch (det.date) {
                case "2021-04-19":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-19"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-20":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-20"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-21":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-21"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-22":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-22"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-23":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-23"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-24":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-24"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-25":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-25"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-26":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-26"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-27":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-27"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-28":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-28"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-29":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-29"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                case "2021-04-30":
                  this.turnsYes[index2] = {
                    ...this.turnsYes[index2],
                    ["2021-04-30"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                  };
                  break;
                default:
                  break;
              }
            } else {
              switch (det.date) {
                case "2021-04-19":
                  this.turnsYes.push({
                    ["2021-04-19"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-20":
                  this.turnsYes.push({
                    ["2021-04-20"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-21":
                  this.turnsYes.push({
                    ["2021-04-21"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-22":
                  this.turnsYes.push({
                    ["2021-04-22"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-23":
                  this.turnsYes.push({
                    ["2021-04-23"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-24":
                  this.turnsYes.push({
                    ["2021-04-24"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-25":
                  this.turnsYes.push({
                    ["2021-04-25"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-26":
                  this.turnsYes.push({
                    ["2021-04-26"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-27":
                  this.turnsYes.push({
                    ["2021-04-27"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-28":
                  this.turnsYes.push({
                    ["2021-04-28"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-29":
                  this.turnsYes.push({
                    ["2021-04-29"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                case "2021-04-30":
                  this.turnsYes.push({
                    ["2021-04-30"]: {
                      schedule: det.schedule,
                      turnName: det.turnName,
                    },
                    user: user,
                  });
                  break;
                default:
                  break;
              }
            }
          });
        }
      });
      this.turnsNo = this.turnsNo.reduce(
        (h, obj) =>
          Object.assign(h, { [obj.date]: (h[obj.date] || []).concat(obj) }),
        {}
      );
      this.turnsNo = Object.entries(this.turnsNo);
      this.turnsNo = this.turnsNo.sort((a, b) => {
        a = new Date(a[0]);
        b = new Date(b[0]);
        return a < b ? -1 : 1;
      });
      console.log(this.turnsYes);
      this.loading = false;
    },
  },
};
</script>
