<template>
  <div>
    <h1 class="text-3xl text-indigo-500">{{ title }}</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Vista Principal",
    };
  },
};
</script>
