<template>
  <div class="position">
    <v-card>
      <v-toolbar flat color="blue" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Sucursales</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col>
            <v-form>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="nameFilterValue"
                      label="Buscar por Nombre"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>

                  <v-col>
                    <v-text-field
                      v-model="addresFilterValue"
                      label="Buscar por dirección"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
        <v-row>
          <v-data-table
            :headers="headers"
            :items="locations"
            :loading="loading"
            class="elevation-1 position"
            sort-by="name"
            sort-desc
          >
            <template v-slot:no-data>
              <v-btn color="primary" @click="loadData()">Resetear</v-btn>
            </template>
          </v-data-table>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<style scoped>
.position {
  width: 100%;
  height: 100%;
}
.th3 {
  background: #063779;
  border: 1px solid white !important;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      title: "Vista de Usuarios",
      locations: [],
      nameFilterValue: null,
      addresFilterValue: null,
    };
  },
  computed: {
    headers() {
      return [
        {
          text: "Nombre",
          value: "name",
          sortable: false,
          class: "blue lighten-2 white--text",
          filter: this.NameFilter,
        },
        {
          text: "Horario",
          value: "schedule",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Dirección",
          value: "address",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
          filter: this.AddresFilter,
        },
        {
          text: "Nro usuarios",
          value: "nroUser",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
      ];
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    async loadData() {
      this.loading = true;
      let users = await (await axios.get("/users")).data;
      this.locations = await (await axios.get("/locations")).data;
      this.locations = this.locations.map((det) => {
        let name = det.name;
        let schedule = `${det.startTime}-${det.endTime}`;
        let address = `${det.address1}, ${det.address2 ? det.address2 : ""}, ${
          det.commune
        }, ${det.region}`;
        let nroUser = 0;
        users.forEach((item) => {
          item.locationId.forEach((i) => {
            if (i == det.id) nroUser = nroUser + 1;
          });
        });
        return {
          name,
          schedule,
          address,
          nroUser,
        };
      });
      this.loading = false;
    },
    NameFilter(value) {
      if (!this.nameFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.nameFilterValue.toLowerCase());
    },
    AddresFilter(value) {
      if (!this.addresFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.addresFilterValue.toLowerCase());
    },
  },
};
</script>
