<template>
  <div class="position">
    <v-card>
      <v-toolbar flat color="blue" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Plantilla de turnos</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col>
            <v-form>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="nameFilterValue"
                      label="Buscar por Nombre"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>

                  <v-col>
                    <v-text-field
                      v-model="addresFilterValue"
                      label="Buscar por dirección"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
        <v-row>
          <v-data-table
            :headers="headers"
            :items="turnTemplates"
            :loading="loading"
            class="elevation-1 position"
          >
            <template v-slot:item.breakTime="{ item }">
              <div>{{ item.breakTime }} min.</div>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="loadData()">Resetear</v-btn>
            </template>
          </v-data-table>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<style scoped>
.position {
  width: 100%;
  height: 100%;
}
.th3 {
  background: #063779;
  border: 1px solid white !important;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      title: "Vista de Usuarios",
      turnTemplates: [],
      nameFilterValue: null,
      addresFilterValue: null,
    };
  },
  computed: {
    headers() {
      return [
        {
          text: "Nombre",
          value: "name",
          sortable: false,
          class: "blue lighten-2 white--text",
          filter: this.NameFilter,
        },
        {
          text: "Hora entrada",
          value: "checkIn",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Hora salida",
          value: "checkOut",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Descanso",
          value: "breakTime",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Horas trabajadas",
          value: "nroHours",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Cargo asociado",
          value: "position",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Sucursales asociadas",
          value: "location",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
      ];
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    async loadData() {
      this.loading = true;
      this.turnTemplates = await (await axios.get("/turnTemplates")).data;
      let locations = await (await axios.get("/locations")).data;
      let positions = await (await axios.get("/positions")).data;
      this.turnTemplates = this.turnTemplates.map((det) => {
        let ckeckIn = det.checkIn.substr(0, 2);
        let checkOut = det.checkOut.substr(0, 2);
        let resPosition = null;
        resPosition = positions.find((item) => item.id == det.positionId);
        let position = null;
        if (resPosition) {
          position = resPosition.name;
        }
        let location = [];
        if (det.locationId && det.locationId.length > 0) {
          det.locationId.forEach((item) => {
            let resFind = locations.find((item2) => item2.id == item);
            if (resFind) {
              location.push(resFind.name);
            }
          });
        }
        return {
          name: det.name,
          checkIn: det.checkIn,
          checkOut: det.checkOut,
          breakTime: det.breakTime,
          nroHours: Number(checkOut) - Number(ckeckIn),
          position: position,
          location,
        };
      });
      this.loading = false;
    },
    NameFilter(value) {
      if (!this.nameFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.nameFilterValue.toLowerCase());
    },
    AddresFilter(value) {
      if (!this.addresFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.addresFilterValue.toLowerCase());
    },
  },
};
</script>
