<template>
  <div class="position">
    <v-card>
      <v-toolbar flat color="blue" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title>Usuarios</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col>
            <v-form>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="nameFilterValue"
                      label="Buscar por Nombre"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>

                  <v-col>
                    <v-text-field
                      v-model="idFilterValue"
                      label="Buscar por identificación"
                      append-icon="mdi-magnify"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
        <v-row>
          <v-data-table
            :headers="headers"
            :items="users"
            :loading="loading"
            sortBy="employeeId"
            class="elevation-1 position"
          >
            <template v-slot:item.position="{ item }">
              <div
                class="black--text"
                v-for="v in item.position"
                :key="v.index"
                v-text="v"
              ></div>
            </template>
            <template v-slot:item.location="{ item }">
              <div
                class="black--text"
                v-for="v in item.location"
                :key="v.index"
                v-text="v"
              ></div>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="loadData()">Resetear</v-btn>
            </template>
          </v-data-table>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<style scoped>
.position {
  width: 100%;
  height: 100%;
}
.th3 {
  background: #063779;
  border: 1px solid white !important;
}
</style>
<script>
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      title: "Vista de Usuarios",
      users: [],
      nameFilterValue: null,
      idFilterValue: null,
    };
  },
  computed: {
    headers() {
      return [
        {
          text: "Identificación",
          value: "employeeId",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
          filter: this.IdFilter,
        },
        {
          text: "Nombre completo",
          value: "name",
          sortable: false,
          class: "blue lighten-2 white--text",
          filter: this.NameFilter,
        },
        {
          text: "Cargos",
          value: "position",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Horas/Semanales",
          value: "contract",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
        {
          text: "Sucursales",
          value: "location",
          align: "center",
          sortable: true,
          class: "blue lighten-2 white--text",
        },
      ];
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    async loadData() {
      this.loading = true;
      let response = await axios.get("/users");
      let locations = await (await axios.get("/locations")).data;
      let positions = await (await axios.get("/positions")).data;
      let contracts = await (await axios.get("/contracts")).data;
      this.users = response.data;
      this.users = this.users.map((det) => {
        let contract = contracts.find((item) => item.id == det.contract);
        let nameComplete = `${det.firstName} ${det.lastName}`;
        let position = [];
        let location = [];
        det.positionId.forEach((pos) => {
          let findPosition = positions.find((item) => item.id == pos);
          if (findPosition) {
            position.push(findPosition.name);
          }
        });
        det.locationId.forEach((loc) => {
          let findLocation = locations.find((item) => item.id == loc);
          if (findLocation) {
            location.push(findLocation.name);
          }
        });
        return {
          employeeId: det.employeeId,
          name: nameComplete,
          position,
          contract: contract.legalMaxWeeklyHours,
          location,
        };
      });
      this.loading = false;
    },
    NameFilter(value) {
      if (!this.nameFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.nameFilterValue.toLowerCase());
    },
    IdFilter(value) {
      if (!this.idFilterValue) {
        return true;
      }
      return value.toLowerCase().includes(this.idFilterValue.toLowerCase());
    },
  },
};
</script>
