<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="#003B6D"
    dark
  >
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3" @click="redirect()">
      <v-avatar size="40" class="mr-2">
        <img src="../assets/logo_mediano.png" />
      </v-avatar>
      <span class="hidden-sm-and-down">Prueba Notus</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <template>
      <v-row justify="space-around">
        <v-btn icon :to="{ name: 'Users' }" class="buttonM">
          <v-icon large class="pr-4"> mdi-account-supervisor-circle </v-icon>
          User
        </v-btn>
        <v-btn icon :to="{ name: 'Locations' }" class="buttonM">
          <v-icon large class="pr-4"> mdi-city </v-icon>
          Locations
        </v-btn>
        <v-btn icon :to="{ name: 'TurnTemplates' }" class="buttonM">
          <v-icon large class="pr-4"> mdi-av-timer </v-icon>
          Turns
        </v-btn>
        <v-btn icon :to="{ name: 'Calendar' }" class="buttonM">
          <v-icon large class="pr-4"> mdi-calendar-multiple </v-icon>
          Calendar
        </v-btn>
      </v-row>
    </template>
  </v-app-bar>
</template>
<style scoped>
.buttonM {
  border-radius: 0;
  width: auto !important;
  padding: 0 20px;
}
</style>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    redirect() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>
