<template>
  <v-app id="app">
    <TheNavBar />
    <v-content>
      <v-container fluid fill-height>
        <v-slide-y-transition mode="out-in">
          <router-view />
        </v-slide-y-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import TheNavBar from "./components/TheNavBar.vue";
export default {
  components: {
    TheNavBar,
  },
  data() {
    return {
      drawer: true,
    };
  },
};
</script>
